.idea
.vscode
.direnv
.autoenv.zsh
.turbo
*.iml
.nyc_output/
coverage/
node_modules/
build/
dist/
lib/
webpack-stats.json

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
